<launch>

    <!-- Speech synthesis -->
    <!-- <node name="sound_play" pkg="sound_play" type="soundplay_node.py" /> -->
    <node name="hmi_speech_database" pkg="speech_database" type="speech_database">
        <param name="audioPath" value="$(find speech_database)/storedSpeech" />
        <param name="language" value="en-uk" />  <!-- de, en, fr, ... (all languages supported by Google) -->
        <param name="mplayer" type="bool" value="true" /> <!-- true for mplayer use -->
        <param name="mplayer_args" type="string" value="-af ladspa=$(find vox_manager)/bin/autotalent.so:autotalent:440:0:.1:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:0:.1:10:1:0:0.5:1:1:1"/> <!-- Wacky voice synthesis -->
        <param name="jsonPath" value=" $(find speech_database)/files.json" />
    </node>

</launch>
